<div class="container p-4">
  <h1><%= @restaurant.name %></h1>

  <div class="row">
      <%= link_to 'Home', restaurants_path %>
      <%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
  </div>

</div>
